@use '../../scss/' as *;

.header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    height: $header-height;
    @include flex(center, center);
    transition: height .3s ease;
    @include tablet {
      height: $header-shrink-height;
      box-shadow: $box-shadow;
    }
    &.shrink {
      height: $header-shrink-height;
      box-shadow: $box-shadow;
    }
}
.navbar {
  @include flex(space-between, center);
  
  z-index: 98;

    @include tablet {
      height: $header-shrink-height;
    }

    @include mobile {
      margin-left: 10px;
      margin-right: 10px;
    }

  &__logo {
    width: 164px;
    height: 44px;
  }

  &__menu {
    @include tablet{
      display: none;
    }
    &-list {
      @include flex(flex-start, center);

      & > *~*{
        margin-left: 40px;
      }

      &__item {
        font-size: 1.2rem;
        color: $txt-second-color;
        font-weight: 500;
        &:hover {
          color: $second-color;
        }

        &.active {
          color: $second-color;
        }
      }
    }
  }

  &__right {
    @include flex(flex-start, center);
    & > *~*{
      margin-left: 10px;
    }

    &-search {
      &__btn {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.3rem;
        cursor: pointer;
        border: 1px solid $color-border;
        color: $txt-second-color;
      }

      @include mobile {
        display: none;
      }

      &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000, $alpha: .8);
        z-index: 100;
        // visibility: hidden;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translate(0px, -100%);
        -moz-transform: translate(0px, -100%);
        -o-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
        transform: translate(0px, -100%);

        @include mobile {
          display: none;
        }

        &.active {
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
        }
        &--close {
          position: absolute;
          top: 20px;
          right: 30px;
        }

        input[type="search"] {
          position: absolute;
          top: 50%;
          width: 100%;
          color: #fff;
          background-color: transparent;
          font-size: 2rem;
          text-align: center;
          border: none;
          margin: 0 auto;
          margin-top: -50px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &-user {
      @include flex(center, center);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.3rem;
      cursor: pointer;
      border: 1px solid $color-border;
      color: $txt-second-color;
      position: relative;

      @include tablet {
        display: none;
      }

      &:hover > &__dropdown {
        display: block;
      }

      &__dropdown {
        position: absolute;
        width: 200px;
        box-shadow: $box-shadow;
        padding: 10px;
        right: 0;
        top: 50px;
        border-radius: 10px;
        background-color: #fff;
        transform-origin: calc(100% - 10px) top;
        animation: cartGrowth ease-in .25s;
        display: none;

        &::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 20px;
          background-color: transparent;
          top: -15px;right: 0;
        }
        &__item {
          padding: 10px;
          font-size: 1rem;
          border-radius: 5px;
          color: $txt-color;
          &:hover {
            background-color: #eee;
          }
        }
      }
    }

    &-cart {
      position: relative;

      &:hover > &__dropdown {
        display: block;

        @include tablet {
          display: none;
        }
      }
      &__btn {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: $color-danger-light;
        color: $color-danger;
        position: relative;

        span {
          position: absolute;
          top: 0;
          right: -3px;
          font-size: .75rem;
          padding: 1px 4px;
          background-color: $color-danger;
          color: $txt-white;
          border-radius: 50%;
          font-weight: 700;
        }
      }

      &__dropdown {
        position: absolute;
        width: 300px;
        box-shadow: $box-shadow;
        padding: 10px 20px;
        right: 0;
        top: 50px;
        border-radius: 10px;
        background-color: #fff;
        transform-origin: calc(100% - 10px) top;
        animation: cartGrowth ease-in .25s;
        display: none;

        

        &::before {
          position: absolute;
          content: '';
          top: -10px;
          right: 0;
          width: 50px;
          height: 20px;
          background-color: transparent;
        }
      }

      &__empty {
        margin-top: 10px;
        text-align: center;
        &__img {
          margin-bottom: 10px;
          img {
            width: 50%;
          }
        }
        &__text {
          color: $txt-color;
        }
      }
        
      &__list {
        max-height: 300px;
        overflow-y: scroll;
        padding-right: 5px;
        
        &::-webkit-scrollbar {
          width: 4px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $color-border; 
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $color-border-dark; 
        }

        &-item {
          @include flex(flex-start, center);
          padding: 10px 0;
          border-bottom: 1px solid $color-border;
          position: relative;
          &:last-child{
            border-bottom: none;
          }

          &__img {
            border: 1px solid $color-border;
            img {
              width: 80px;
              height: 90px;
            }
          }

          &__info {
            margin-left: 10px;
            &__name {
              font-size: .8rem;
              color: $txt-second-color;
              font-weight: 500;
              overflow: hidden;
              display: block;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              &:hover {
                color: $primary-color;
              }
            }

            &__price {
              margin-top: 5px;
              font-size: .8rem;
              color: $txt-second-color;
              @include flex(flex-start, center);
              .price {
                color: $color-price;
                margin-left: 5px;
              }
            }
          }

          &--remove {
            position: absolute;
            top: 5px;
            left: 0px;
            cursor: pointer;
            background-color: $color-danger;
            font-size: .9rem;
            color: $txt-white;
            border-radius: 50%;
            @include flex(center, center);
            z-index: 1;
          }
        }
      }

      &__action {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 100%;
          top: -10px;
          left: 0;
          height: 1px;
          background-color: $color-border;
        }
        & > *~*{
          margin-top: 10px;
        }

        &__view, &__checkout {
          padding: 10px;
          background-color: $primary-color;
          border-radius: 5px;
          color: #fff;
          font-weight: 500;
          &:hover {
            background-color: rgba($color: $primary-color, $alpha: .9);
          }
        }

      }
    }

    
  }
  &__mobile-btn {
    display: none;
    @include tablet {
      @include flex(center, center);
    }

    .hamburger {
      width: 25px;
      height: 3px;
      background-color: $txt-second-color;
      position: relative;
      border-radius: 20px;

      &::before, &::after{
        position: absolute;
        content: '';
        width: 25px;
        height: 3px;
        background-color: $txt-second-color;
        border-radius: 20px;
      }
      &::before{
        transform: translateY(-8px);
      }

      &::after{
        transform: translateY(8px);
      }

    } 
  }

  &__mobile {
    display: none;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    top: 0;
    left: -100%;
    position: fixed;
    box-shadow: $box-shadow;
    z-index: 99;
    transition: left .6s ease;

    &.open {
      left: 0;
      
    }

    @include tablet {
      display: block;
    }

    &-toggle {

      &__close {
        position: absolute;
        right: 20px;
        top: 14px;
        width: 30px;
        height: 30px;
        background-color: $third-bg;
        border-radius: 50%;
        @include flex(center, center);

        i {
          font-size: 1.5rem;
          color: $txt-white;
        }
      }

      &__search {
        height: 50px;
        width: 100%;
        margin-top: 40px;
        input {
          font-size: 1.2rem;
          border: 0;
            height: 100%;
            width: 100%;
            padding: 0 20px;
            color: $txt-second-color;
            background-color: $input-bg;
            border-radius: $border-radius;
        }
      }

      &__list {
        margin-top: 20px;
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        &> *~*{
          margin-top: 20px;
        }
        &-item {
          width: 100%;
          font-size: 1.2rem;
          color: $txt-second-color;
          font-weight: 500;
          &.active {
            color: $second-color;
          }
        }
      }
    }
  }
}

@keyframes cartGrowth {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}