$main-bg: #fff;
$second-bg: #F7F8FD;
$third-bg: #C2C2D5;

$primary-color: #233A95;
$second-color: #58BEF9;
$third-color: #E9284A;

$color-rating: #F6CC1A;
$color-price: #d51243;

$color-success: #00b853;
$color-success-dark: #038e42;
$color-danger: #ed174a;
$color-danger-dark: #be143c;
$color-danger-light: #ffeef2;

$color-border: #e4e5ee;
$color-border-dark: #d9d9e9;
$border-radius: 25px;

$txt-color: #202435;
$txt-second-color: #3e445a;
$txt-color-light: #C2C2D3;
$txt-white: #fff;

$header-height: 7rem;
$header-shrink-height: 5rem;

$input-bg: #F3F4F7;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
